
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

 *{
    padding: 0;
    margin: 0;
 }

 .container{
   display: flex;
   flex-direction: column;
 }

 body{
    font-family: 'Roboto', sans-serif;
 }

 .navbar, footer
 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
    background-color: #1f2937;
    color: white;

 }
 
 .navbar ul{
   display: flex;
   list-style-type: none;
   gap: 32px;
   
 }


 a{
    text-decoration: none;
    color: white;
 }

.main{
   display: flex;
   background-color: #1f2937;
   color: white;
   align-items: center;
   justify-content: center;
   gap: 52px;
   padding: 90px;
   flex-wrap: wrap;
   margin-bottom: 25px;

}

.main-text h1{
   font-size: 48px;
   font-weight: bold;
   margin-bottom: 10px;
   border: 2px solid #AA5649;
   border-radius: 10px;
   padding: 10px 30px;
}

.main-text p{
   font-size: 18px;
   margin-bottom: 10px;
}
.main-image img{
   border: thin solid #AA5649;
   max-width: 100%;
}

.content{
   text-align: center;
   align-items: center;
}

.info-container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 52px;
   flex-wrap: wrap;
   padding: 25px;
}

.info-container img{
   border: 4px solid #AA5649;
   border-radius: 15px;
}

.quote{
   background-color: #E5E7EB;
   color: #1f2937;
   font-size: xx-large;
   font-style: italic;
   padding: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-weight: lighter;
   flex-wrap: wrap;
   
}

.quote b{
   align-items: flex-end;
   padding-left: 300px;
}

.sign-up{
   
   display: flex;
   justify-content: space-around;
   margin: 50px 200px;
   padding: 50px; 
   background-color: #AA5649;
   color: #FFFFE4;
   
}



button{
   color: #FFFFE4;
   background-color: #AA5649;
   border: 2px solid white;
   border-radius: 10px;
   padding: 10px 30px;
   font-size: 18px;
}